{% extends 'bookshelf/base.html' %}
{% block title %}Card Number{% endblock %}
{% block content %}
    {% load filters %}

    <style>
        body, html {
            height: 100%;
        }

        .nav {
            position: absolute;
        }
    </style>
    <div class="container h-100">
        <div class="h-100 row align-items-center">
            <div class="col text-center" style="font-size:1.5rem">
                {% for i in borrow_book %}
                    <span>Book </span><span style="font-weight:bold;">{{ i.title|title }}</span>
                {% endfor %}
                {% if user|has_group:"Librarian" %}

                    <form method="get">
                        {% csrf_token %}
                        {{ form.card_number }}
{#                        <input type="submit" value="{{ type|title }} this book to user"/>#}
                                            <input type="submit" value="{{ type|title }} this book" class="card-link btn" style="background-color:#5F00BA; color:white;"></input>

                    </form>
                {% else %}
                    <p>Sorry, but you don't have permission to {{ type }} book by yourself :c</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}