{% extends 'bookshelf/base.html' %}
{% block title %} Book Catalog {% endblock %}
{% block search %}
    {% load static %}

    <style>

    </style>
    <div class="row">
        <div class="col d-flex flex-row">
            <form action="" method="get">
                {% for i in filterset.form %}
                    <div class="badge badge-info text-wrap p-2"
                         style="cursor:default; background-color:#804ED1; color:white;" title="Find book by
                            {% if i.label != 'ISBN' %}{{ i.label|lower }}{% else %}{{ i.label }}{% endif %}">
                        {{ i.label }}
                    </div>
                    {{ i }}
                {% endfor %}
                <button class="btn btn-purp-light my-2 my-sm-0" type="submit">Search</button>
                <button class="btn my-3 my-sm-0 btn-purp">
                    <a href="{% url 'index' %}">Show all books</a>
                </button>

            </form>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% load filters %}
    {% load tags %}
    <link rel="stylesheet" href="{% static "bookshelf/styles/book_list.css" %}" type="text/css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <th scope="col">#</th>
                        <th scope="col">Cover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Status</th>
                        {#                        <th scope="col">Shelf</th>#}
                        <th scope="col"></th>
                        </thead>
                        {% for book in object_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><img class="shadow rounded border border-dark shadow" src="{{ book.cover }}"
                                         alt="{% static '/bookshelf/standard_cover.png' %}"

                                         style="max-width:8em; cursor:pointer; "></td>
                                {% if book.type == 'paperback' %}
                                    <td>
                                        <i class="fas fa-book" title="Paper Book"></i>
                                        {{ book.title|title }}</td>
                                {% else %}
                                    <td><i class="fas fa-mobile-alt" title="eBook"></i>

                                        {{ book.title|title }}</td>
                                {% endif %}
                                <td>{{ book.author.first_name|title }} {{ book.author.last_name|title }}</td>
                                <td style="color:{{ book.status|get_status_color }}">
                                    {% if book.type == 'paperback' %}
                                        {% if book.paperbook.current_amount != 0 %}
                                            {{ book.get_status_display }}
                                            {% if book.status == 'A' %}
                                                ({{ book.paperbook.current_amount }}/{{ book.paperbook.total_amount }})
                                            {% endif %}
                                        {% else %}
                                            <span style="color:red">Not Available</span>
                                        {% endif %}
                                    {% else %}
                                        <p style="color:blue">Electronic</p>
                                    {% endif %}
                                </td>
                                {#                                <td>None</td>#}
                                <style>

                                </style>
                                <td class="text-center">

                                    {#                                Button block                                 #}
                                    {% if request.user|has_group:"Librarian" %}
                                        <div class="btn-group-vertical" role="group" aria-label="Management Panel">
                                        <a type="button" class="btn my-1"
                                           href="{% if book.type == 'paperback' %}
{% url 'book_update' pk=book.pk %}
{% else %}
{% url 'ebook_update' pk=book.pk %}
{% endif %}
"
                                           style="background-color:#5F00BA; color:white;">
                                            Edit
                                        </a>
                                        <a type="button" class="btn my-1"
                                           href="{% url 'book_delete' pk=book.pk %}"
                                           style="background-color:#7027C6; color:white;">Remove
                                        </a>
                                        {% if book.type == 'paperback' %}
                                            {% if book.paperbook.current_amount > 0 %}
                                                <a href="{% url 'getcardnumber' book_pk=book.paperbook.pk type='borrow' %}"
                                                   type="button"
                                                   class="btn my-1" style="background-color:#7027C6; color:white;">
                                                Borrow
                                            {% else %}
                                                <a href="{% url 'getcardnumber' book_pk=book.paperbook.pk type='reserve' %}"
                                                   type="button"
                                                   class="btn my-1" style="background-color:#804ED1; color:white;">
                                                Reserve
                                            {% endif %}
                                        </a>
                                            {% if book.paperbook.current_amount != book.paperbook.total_amount %}
                                                <a href="{% url 'getcardnumber' book_pk=book.paperbook.pk type='return' %}"
                                                   type="button" class="btn my-1"
                                                   style="background-color:#9075DC; color:white;">Return</a>
                                            {% else %}
                                                <button type="button" class="btn disabled my-1"
                                                        style="cursor:not-allowed; background-color:#9075DC; color:white;">
                                                    Return
                                                </button>
                                            {% endif %}
                                            <a type="button" class="btn my-1"
                                               href="{% url 'borrowers_detail' pk=book.paperbook.pk %}"
                                               style="background-color:#A09BE7; color:white;">Debtors</a>

                                        {% endif %}
                                    {% endif %}
                                    {% if book.type == 'electronic' %}
                                        {% if user.is_authenticated %}
                                            <a type="button" class="btn my-1"
                                               href="{{ book.electronicbook.link }}"
                                               style="background-color:#804ED1; color:white;">

                                                {{ book.electronicbook.file_format }}
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                    </table>
                </div>
            </div>
        </div>

        {% if is_paginated %}
            <div class="row my-1">
                <div class="col-sm-12 text-center">
                    <div class="pagination d-flex flex-column align-items-center">
            <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-purp" href="?{% param_replace page=1 %}">&laquo; first</a>
                {% if page_obj.previous_page_number != 1 %}
                    <a class="btn btn-purp" href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
                {% endif %}
            {% endif %}

                <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number != paginator.num_pages %}
                        <a class="btn btn-purp" href="?{% param_replace page=page_obj.next_page_number %}">next</a>
                    {% endif %}
                    <a class="btn btn-purp"
                       href="?{% param_replace page=paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
                    </div>
                </div>
            </div>
        {% endif %}


        {% if request.user|has_group:"Librarian" %}
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a type="button" class="btn" style="background-color:#5F00BA; color:white;"
                       href="{% url 'book_create' %}">Add paper book</a>
                    <a type="button" class="btn" style="background-color:#5F00BA; color:white;"
                       href="{% url 'ebook_create' %}">Add electronic book</a>
                </div>

            </div>
            </div>
        {% endif %}
    {#    TODO: add footer with some info#}
{% endblock %}
