{% extends 'bookshelf/base.html' %}

{% block content %}
    {% load filters %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% for i in borrower %}
                    <h4>{{ i.username }}</h4>
                {% endfor %}
                <p>Borrowed books list({{ books_amount }}):</p>
                {% for i in borrowed_books %}
                    <p>{{ i|title }}</p>
                {% endfor %}
                {% if user|has_group:"Librarian" %}
                    <form method="post">
                    {% csrf_token %}
                    {% for i in to_borrow %}
                        <input type="submit" value="Confirm book ({{ i.title|title }}) borrowing">
                    {% endfor %}
                {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}