{% extends 'bookshelf/base.html' %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col text-center">
                <h4>{{ user }}</h4>
                <p>Loaned books list({{ books_amount }}):</p>
                {% for i in borrowed_books %}
                    <p>{{ i|title }}</p>
                {% endfor %}
                <form method="post">
                    {% csrf_token %}
                    {% for i in to_borrow %}
                    <input type="submit" value="Confirm book ({{ i.title|title }}) borrowing">
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}