{% extends 'bookshelf/base.html' %}
{% block title %}Create Book{% endblock %}
{% block content %}
    {% load filters %}

    <style>
        li {
            list-style-type: none;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if request.user|has_group:"Librarian" %}
                    <form method="post">
                    {% csrf_token %}
                    <div class="card text-center">
                    <div class="card-body">

                    {{ form.as_p }}

                                 <input type="submit" value="Save" class="card-link btn" style="background-color:#5F00BA; color:white;"></input>

                {% else %}
                    <p>Sorry, but you don't have permission to access this page.</p>
                {% endif %}
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>






{% endblock %}