{% extends 'bookshelf/base.html' %}
{% block title %}Reserved Books{% endblock %}
{% block content %}
    {% load filters %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col text-center">
                {% if request.user|has_group:"Librarian" %}
                    {% for i in reserver %}
                        <h4>{{ i.username }}</h4>
                    {% endfor %}
                    <p>Reserved books list({{ books_amount }}):</p>
                    {% for i in reserved_books %}
                        <p>{{ i|title }}</p>
                    {% endfor %}
                    {% if user|has_group:"Librarian" %}
                        <form method="post">
                        {% csrf_token %}
                        {% for i in to_reserve %}
             <input type="submit" value="Confirm book ({{ i.title|title }}) reserving" class="card-link btn" style="background-color:#5F00BA; color:white;"></input>

                        {% endfor %}
                    {% endif %}
                </form>
                {% else %}
                    <p>Sorry, but you don't have permission to access this page.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}