{% extends "bookshelf/base.html" %}
{% block title %}Log In{% endblock %}

{% block content %}


    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    </form>
    <div class="container text-center h-100">
        <div class="row">
            <div class="col">
                <h2>Log in</h2>
            </div>
        </div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col">
                    {{ form.username.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="col">

                    {{ form.username }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">

                    {{ form.password.label_tag }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">

                    {{ form.password }}</div>
            </div>


            <div class="row">
                <div class="col">
                    <button class='btn' style="background-color:#5F00BA; color:white;" type="submit">Log In</button>
                    <input type="hidden" name="text" value="{{ next }}"/>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% if form.errors %}
                        <p>Your username and/or password didn't match. Please try again.</p>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

{% endblock %}